/* Coolors Exported Palette - coolors.co/f08578-5c0029-f4f1bb-548687-9bc1bc */

/* HSL */
$coral: hsla(7%, 80%, 71%, 1);
$accentColor: hsla(333%, 100%, 18%, 1);
$backgroundColor: hsla(60%, 24%, 96%, 1);
$activeBlue: hsla(181%, 23%, 43%, 1);
$lightBlue: hsla(172%, 23%, 68%, 1);
$hoverColor: #ff6d92;

/* RGB */
$color1: rgba(240, 133, 120, 1);
$color2: rgba(92, 0, 41, 1);
$color3: rgba(244, 241, 187, 1);
$color4: rgba(84, 134, 135, 1);
$color5: rgba(155, 193, 188, 1);