@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat','Nunito', 'Helvetica', sans-serif;
}

body {
  background-image: url("/images/sunset.jpg");
  background-position: 100% 35%;
  }


header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  margin-left: 5%;
  margin-bottom: 1.5%;
  padding: 50px 0 0 3%;
  width: 90%;
  div {
    display: flex;
    flex-direction: column;
  }
  .display-customer {
    align-items:  center;
  }
  iframe {
    width: 50%;
    .default-small-logo  {
      height: 0;
    }
  }
}

.tabs {
  margin-left: 5%;
  width: 90%;
}

img {
  height: 25%;
  width: 25%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  width: 60%;
}

li {
  text-decoration: none;
  list-style: none;
}

.tabs-nav li {
  text-decoration: none;
  width: 50%;
}
.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}
.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}

a {
  background: hsl(240, 8%, 92%);
  border: 1px solid $accentColor;
  color: $lightBlue;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
.tab-active{
  a {
  background: $backgroundColor;
  border-bottom-color: transparent;
  color: $activeBlue;
  cursor: default;
  }
}


.tabs-stage {
  background: #b4d5ea93;
  border: 1px solid $accentColor;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  height: calc(90vh - 200px);
  padding: 24px 30px;
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
  }
}

#main {
  font-size:1.5em;
  h3 {
    margin: 2%;
    span {
      font-weight: 300;
    }
    #main-date {
  display: block;
  font-weight: 700; 
}
  }
  &:first-child {
    font-weight: 400;
  }
}

#customer {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    margin-top: 2%;
    padding: 10px;
    width: 18%;
  }
  .search-results {
    .search-list {
      margin-top: 2%;
      flex-direction: column;
      justify-content: flex-start;
      height: 300px;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;
      width: 100%;
    li {
      margin-top: 5%;
      width: 100%;
      background: #b4d5ea93;
      border: 2px solid black;
      border-radius: 4px;
      font-size: 1.1em;
      padding: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  }
};

table{
  margin-top: 2%;
  text-align: center; 
  th {
    width: 50%;
  }
  td {
    width: 50%;
  }
  tr {
    margin: 1%;
    width: 50%;
  }
}

#orders {
  table {
    width: 65%;
  }
}

#rooms {
  align-items: center;
.section-popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  .section-bookings-table {
    max-height: 45vh;
      overflow: scroll;
      overflow-x: hidden;
      overflow-y: auto;
      table-layout: fixed;
      white-space: nowrap;
      width: 70%;
  }
  button {
    background: #76bce893;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1.1em;
    height: 35px;
    margin-top: 2%;
    width: 70%;
    &:hover {
      background-color: #ff6d92;
      cursor: pointer;
    }
  }
  .popular {
    margin: 2%;
    }
  }
  .available-rooms {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      margin-left: 10px;
      max-height: 47vh;
      width: 60%;
      button {
        width: 100px;
        &:hover {
          cursor: pointer;
        }
      }
      }
}

.modal {
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  height: 100%;
  position: fixed;
  // top: 0;
  width: 100%;
  z-index: 1;
  .modal-content {
  display: flex;
  align-items: center;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  width: 50%;
  }

}
