@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat','Nunito', 'Helvetica', sans-serif;
}

body {
  background-image: url("/images/sunset.jpg");
  background-position: 100% 35%;
  }


header {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  background-color: rgba(138, 161, 176, 0.5);
  margin-left: 5%;
  margin-bottom: 1.5%;
  padding: 8px 0 0 3%;
  width: 90%;
  div {
    display: flex;
    flex-direction: column;
  }
  .display-customer {
    align-items:  center;
  }
  iframe {
    width: 50%;
    .default-small-logo  {
      height: 0;
    }
  }
}

.tabs {
  margin-left: 5%;
  width: 90%;
}

img {
  height: 25%;
  width: 25%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  width: 60%;
}

li {
  text-decoration: none;
  list-style: none;
}

.tabs-nav li {
  text-decoration: none;
  width: 50%;
}
.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}
.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}

a {
  background: hsl(240, 8%, 92%);
  border: 1px solid $accentColor;
  color: $lightBlue;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
.tab-active{
  a {
  background: $backgroundColor;
  border-bottom-color: transparent;
  color: $activeBlue;
  cursor: default;
  }
}


.tabs-stage {
  background: #b4d5ea93;
  border: 1px solid $accentColor;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  height: 100%;
  padding: 24px 30px;
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
  }
}

#main {
  font-size:1.5em;
  h3 {
    margin: 2%;
    span {
      font-weight: 300;
    }
    #main-date {
  display: block;
  font-weight: 700; 
}
  }
  &:first-child {
    font-weight: 400;
  }
}

#customer {
  .search {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    margin-top: 2%;
    padding: 10px;
    width: 18%;
  }
  .search-results {
    li {
      margin-top: 5%;
      width: 100%;
      background: #b4d5ea93;
      border: 2px solid black;
      border-radius: 4px;
      font-size: 1.1em;
      padding: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }
};

table{
  margin-top: 2%;
  text-align: center; 
  th {
    width: 50%;
  }
  td {
    width: 50%;
  }
  tr {
    margin: 1%;
    width: 50%;
  }
}

.section-popular {
  display: flex;
  .popular {
    margin: 2%;
  }
}
