@import 'variables';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  height: 8vh;
  background-color: $accentColor;
  margin-left: 5%;
  margin-bottom: 1.5%;
}

.tabs {
  margin-left: 5%;
  width: 90%;
}

img {
  height: 25%;
  width: 25%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  text-decoration: none;
  width: 60%;
}

.tabs-nav li {
  text-decoration: none;
  width: 50%;
}
.tabs-nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 6px;
}
.tabs-nav li:last-child a {
  border-top-right-radius: 6px;
}
a {
  background: #eaeaed;
  border: 1px solid $accentColor;
  color: $lightBlue;
  display: block;
  font-weight: 600;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
}
.tab-active{
  a {
  background: $backgroundColor;
  border-bottom-color: transparent;
  color: $activeBlue;
  }
}


.tabs-stage {
  background: $backgroundColor;
  border: 1px solid $accentColor;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  height: 75vh;
  padding: 24px 30px;
  width: 100%;
  div {
    display: flex;
  }
}